<ion-view title="Whats in your fridge?" class="home-page">
	<ion-content padding="true">

<div class="list card">

  <a href="#" ng-click="scan()" class="item item-icon-left">
    <i class="icon ion-ios7-barcode"></i>
    Barcode scanner
  </a>

  <a href="#" ng-click="video()" class="item item-icon-left">
    <i class="icon ion-ios7-camera"></i>
    Point your camera
  </a>

  <a href="#" ng-click="microphone()" class="item item-icon-left">
    <i class="icon ion-android-microphone"></i>
    Just say it
  </a>

  <a href="#" ng-click="keypad()" class="item item-icon-left">
    <i class="icon ion-android-keypad"></i>
    Type it
  </a>

</div>
	</ion-content>
</ion-view>