<ion-view title="Whats in your fridge?" class="home-page">
	<ion-content padding="true">

<div class="list card">

  <a ui-sref="barcode" nav-transition="ios" class="item item-icon-left">
    <i class="icon ion-ios7-barcode"></i>
    Barcode scanner
  </a>

  <a ui-sref="camera" nav-transition="android" class="item item-icon-left">
    <i class="icon ion-ios7-camera"></i>
    Point your camera
  </a>

  <a ui-sref="microphone" class="item item-icon-left">
    <i class="icon ion-android-microphone"></i>
    Just say it
  </a>

  <a ui-sref="keypad" class="item item-icon-left">
    <i class="icon ion-android-keypad"></i>
    Type it
  </a>

</div>
	</ion-content>
</ion-view>