<ion-view title="What ya got?" class="home-page">

    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="ingredients.search" type="text" placeholder="eggs, bacon, milk..." ui-keypress="{13:'searchForIngredient($event)'}">
        </label>
    </div>

    <ion-content padding="true">
        <ion-list>
            <ion-item ng-repeat="ingredient in ingredients">
                {{ingredient.name}}
            </ion-item>
        </ion-list>

    </ion-content>


</ion-view>
