<ion-view title="What ya got?" class="home-page">

    <ion-header-bar class="bar-positive bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="ingredients.search" type="text" placeholder="eggs, bacon, milk..." ui-keypress="{13:'addIngredient($event.srcElement.value)'}">

        </label>
    </ion-header-bar>


    <ion-content padding="true">
        <ion-list>
            <ion-item class="animate-repeat" ng-repeat="ingredient in ingredients">
                {{ingredient.name}}

                <ion-option-button ng-click="delete(ingredient);" class="button-assertive">Delete</ion-option-button>

            </ion-item>
        </ion-list>

    </ion-content>


</ion-view>
